<header>  
  <h3>{{this.name}}</h3>
  <h3>Exam Centre Number : 36538</h3>
  <h1 id="DigitalCLOCK" class="clock" onload="showTime()"></h1>
</header>
<script  src="/function.js"></script>
<script>
document.addEventListener("DOMContentLoaded", () => {
  showTime();
});
</script>